/* font family start */
@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Roboto", sans-serif;
    src: url(../fonts/Roboto-Regular.ttf);
}
/* font family end */
/* common css start */
:root{
    --green: #21B573;
	--orange: #FD511A;
	--black: #000000;

	--pop: "Poppins", sans-serif;
    --rob: "Roboto", sans-serif;

    --16: 16px;
	--20: 20px;
	--50: 50px;

	--400p: 400;
	--500p: 500;
	--700p: 700;
}
body{
    font-family: var(--pop);
    font-size: var(--16);
    font-weight: var(--400p);
    color: var(--black);
}
/* common css end */

/* header start */
header{
    background-color: #F0FFF0;
    padding: 15px 0;
}
.menu ul li a{
    color: var(--black) !important;
    padding: 0 15px !important;
}
.menu ul li a:hover{
    color: var(--orange) !important;
}
.btn_cm{
    font-family: var(--rob);
    font-size: 16px;
    background-color: var(--green);
    color: white;
    /* line-height:18.75; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 33px;
}
.btn_sin{
    margin-left: 10px;
    padding: 12px 28px;
    /* width: 105px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.btn_cm:hover{
    background-color: var(--orange);
    color: white;
}
.btn_cm:active{
    background-color: rgb(146, 83, 61) !important;
    border: none;
    color: white !important;
}
/* header end */

/* banner start */
.banner{
    background-color: #F0FFF0;
    padding-bottom: 65px;
}
.b_p1{
    color: #FD511A;
}
.b_h1{
    margin: 10px 49px 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;

}
.b_h1 span{
    color: #21B573;
}
.b_p2{
line-height: 36px;
}
.btn_get{
    margin-top: 15px;
    padding: 12px 36px;
}
/* banner end */

/* feature start */
.c_p{
    padding-bottom: 100px;
}
.sf_item{
    margin: 40px 0 0;
    padding: 55px 0 50px;
    background-color: #F8FFFB;
    border-radius: 10px;
    transition: .33s linear;
}
.sf_item:hover{
    background-color: white;
    box-shadow: 0px 20px 40px 0px #0000001A;
}
.sf_item_img{
    width: 63px;
    height: 85px;
}
.sf_h2{
    margin: 22px 0 0;
font-size: 24px;
color: var(--black);
font-weight: 500;
line-height: 36px;
}
/* feature end */
/* course start */
.c_title h1{
font-size: 36px;
font-weight: 700;
line-height: 54px;
color: var(--black);
}

.c_item{
    margin: 40px 0 0;
    padding: 24px 20px 30px;
    border-radius: 18px;
    box-shadow: 0px 10px 40px 0px #0000001A;
}
.ci_img img{
    text-align: center;
    border-radius: 11px;
}
.ci_h2{
margin: 19px 0 3px;
color: var(--black);
font-size: 24px;
font-weight: 500;
line-height: 36px;
}

.ci_link{
    padding: 8px 28px;
    margin: 19px 0 34px 0;
}

.ci_span{
    font-weight: 500;
}
/* course end */
/* testimoniel start */
.t_item{
    margin-top: 60px;
}
/* testimoniel end */

/* footer top start */
.footer_top{
    padding: 55px 0 55px;
    background-color: #282531;
}
.ft_details{
    padding-right: 100px;
}
.ft_details p{
    color: white;
line-height: 30px;

}
.ft_links h2{
    margin-bottom: 8px;
font-size: 18px;
font-weight: 700;
color: white;
line-height: 30px;
}
.ft_links ul li a{
    text-decoration: none;
    color: white;
    line-height: 30px;
}
/* footer top end */
/* footer start */
footer{
    padding: 20px 0 30px;
    background-color: #282531;
}
footer p{
    color: white;
}
footer p a{
    color: white;
    line-height: 30px;
    text-decoration: none;
}
/* footer end */
